
<div class="container">

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="login-form-wrapper">

        <div class="signin-message">
          
          <h3>Sign In</h3>
          <p>You can post from your account after signing in.</p>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, class: "form-control login-control", placeholder: "Email" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control login-control", placeholder: "Password" %>
            </div>
            <div class="login-options">
              <div class="row">
                <div class="col-xs-6">
                  <% if devise_mapping.rememberable? -%>
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  <% end -%>
                </div>
                <div class="col-xs-6">
                  <div class="text-right">
                    <%= link_to "Forgot password?", new_password_path(resource_name) %>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group">
              <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
                
            </div>
        <% end %>

        <%= render "devise/shared/links" %>
        <div class="signup-message text-center">
          <p>Don't have an account? <%= link_to "Sign up now!", new_user_registration_path, class: "color-base" %></p>
        </div>
      </div>
    </div>
  </div>


</div>

