<!DOCTYPE html>
<html>
<head>
  <title>Chainsearchers</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= render 'layouts/google_analytics' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Chainsearchers is a community designed to provide an automated and convenient browsing experience.  Chainsearchers allows you to browse a list of links in one window"/>
  <meta name="keywords" content="automatic browsing, lists, links, podcasts, news, research, debate"/>
</head>
<body>
  <%= render 'layouts/navbar' %>

  <%= yield %>
  
</body>
</html>
