<!DOCTYPE html>
<html>
<head>
  <title>Chainsearchers</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= render 'layouts/google_analytics' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navbar' %>

  <%= yield %>
  
</body>
</html>
